<!DOCTYPE html>
<html lang="en">
<head>
	<title>结算</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/motion/motion.css">
	<script type="text/javascript" src="../static/js/rem.js"></script>
	<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="container-top">
			<div class="nav">
				<button class="goback"><img src="../static/img/payment/goback.png" alt=""></button>
				<span class="title">结算</span>
				<button class="menu"><img src="../static/img/payment/menu.png" alt=""></button>
			</div>
			<div class="time">
				<div class="time-icon">
					<img src="../static/img/motion/clock.png" alt="时钟">
				</div>
				<div class="time-num">
					<p>分钟</p>
					<span>25</span>
				</div>
				<div class="time-pay">
					<p>花费</p>
					<span><i>16</i>元</span>
				</div>
			</div>
			<div class="target">
				<i></i><span>身体指标</span>
			</div>
		</div>
		<div class="title">
			<i></i><span>亚健康前沿</span><i></i>
		</div>
		<div class="container-middle">
			<div class="middle-top">
				<button class="btn-over"><img src="../static/img/motion/over-btn.png" alt="提前介绍"></button>
			</div>
			<div class="middle-bottom">
				<h4>用户昵称</h4>
				<p>本周减压时长超过3名好友，上升至第3位</p>
			</div>
		</div>
		<div class="container-bottom">
			<div class="bottom-top"></div>
			<div class="bottom-bottom">
				<h4>用户昵称</h4>
				<p>本周减压时长超过3名好友，上升至第3位</p>
			</div>
		</div>
	</div>
</body>
</html>