<!DOCTYPE html>
<html lang="en">
<head>
	<title>首页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/payment/payment.css">
	<script type="text/javascript" src="../static/js/rem.js"></script>
	<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="container-top">
			<div class="nav">
				<button class="goback"><img src="../static/img/payment/goback.png" alt=""></button>
				<span class="title">结算</span>
				<button class="menu"><img src="../static/img/payment/menu.png" alt=""></button>
			</div>
			<div class="content">
				<div class="item item1">
					<div class="left"><i>25</i>分钟</div>
					<div class="right">花费 ￥ 16</div>
				</div>
				<div class="item item2">
					<div class="left"><i>15</i>分钟</div>
					<div class="right"></div>
				</div>
				<div class="item item3">
					<div class="left"><i>10</i>分钟</div>
					<div class="right"></div>
				</div>
			</div>
		</div>
		<div class="container-bottom">
			<div class="nav">
				<div class="left">
					减压时常 <i>(分钟)</i>
				</div>
				<div class="right">
					<span>查看好友排名</span>
					<img src="../static/img/payment/more.png" alt="查看好友排名">
				</div>
			</div>
			<div class="content">
				<div class="item">
					<div class="rank">3</div>
					<div class="head"><img src="../static/img/payment/head.png" alt="头像"></div>
					<div class="name">
						<div class="name-title">用户昵称</div>
						<div class="name-content">本周减压时长超过3名好友，上升至第3位</div>
					</div>
					<div class="time">
						<i>180</i>分钟
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>