.container{
	width: 100%;
	height: 100%;
}
.container .container-top{
	width: 100%;
	height: 65%;
	background: url(../../img/payment/back.png);
	background-size: 100% 100%;
}

.container .container-top .nav{
    width: 100%;
    height: 2rem;
    overflow: hidden;
    padding: 0 0.5rem;
    padding-top: 1rem;
    box-sizing: border-box;
    position: relative;
}

.container .container-top .nav button.goback{
	width: 1rem;
	height: 1rem;
	float: left;
	background: rgba(0,0,0,0);
    border: 0;
    padding: 0;
}
.container .container-top .nav button.goback img{
	width: 100%;
	height: 100%;
}


.container .container-top .nav span.title{
	width: 2rem;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -1rem;
    text-align: center;
    color: white;
    font-size: 0.65rem;
    line-height: 1rem;
}

.container .container-top .nav button.menu{
    width: 1.1rem;
    height: 1rem;
    float: right;
    background: rgba(0,0,0,0);
    border: 0;
    padding: 0;
}

.container .container-top .nav button.menu img{
	width: 100%;
	height: 100%;
}
.container .container-top .content{
	width: 100%;
	padding-top: 2rem;
}

.container .container-top .item{
	width: 100%;
    height: 1.5rem;
    overflow: hidden;
    color: white;
    line-height: 1.5rem;
}
.container .container-top .item1{
    width: 100%;
    height: 2rem;
    overflow: hidden;
    color: white;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.container .container-top .item .left{
	width: 4rem;
	height: 100%;
	float: left;
	text-align: right;
}
.container .container-top .item .left i{
	font-size: 1rem;
}
.container .container-top .item1 .left i{
	font-size: 2rem;
}
.container .container-top .item .right{
    width: 4rem;
    height: 100%;
    float: right;
    line-height: 3rem;
}
.container .container-bottom{
	width: 100%;
	height: 35%;
	position: relative;
}
.container .container-bottom .nav{
    width: 100%;
    height: 2rem;
    overflow: hidden;
    line-height: 2rem;
    box-sizing: border-box;
    padding: 0 0.5rem;
}

.container .container-bottom .nav .left{
	width: 50%;
	height: 100%;
	float: left;
	font-size: 0.7rem;
}
.container .container-bottom .nav .left i{
	color: #7988a4;
	font-size: 0.5rem;
}
.container .container-bottom .nav .right{
	width: 50%;
	height: 100%;
	float: left;
	color: #1c7eec;
	text-align: right;
	overflow: hidden;
}
.container .container-bottom .nav .right img{
    width: 1rem;
    float: right;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}
.container .container-bottom .content{
	width: 100%;
}
.container .container-bottom .content .item{
	width: 100%;
	overflow: hidden;
	height: 3rem;
}
.container .container-bottom .content .item .rank{
    width: 1rem;
    height: 100%;
    float: left;
    font-size: 1rem;
    line-height: 3rem;
    text-align: center;
    color: #ffcd20;
}
.container .container-bottom .content .item .head{
	width: 3rem;
	height: 100%;
	float: left;
}
.container .container-bottom .content .item .head img{
	width: 100%;
	height: 100%;
}

.container .container-bottom .content .item .name{
	width: 9rem;
	height: 100%;
	float: left;
}

.container .container-bottom .content .item .name .name-title{
    width: 100%;
    height: 1.5rem;
    font-size: 0.7rem;
    line-height: 2rem;
}
.container .container-bottom .content .item .name .name-content{
	width: 100%;
	height: 1.5rem;
	color: #7988a4;
}
.container .container-bottom .content .item .time{
	width: 3rem;
    height: 100%;
    float: left;
    color: #7988a4;
    line-height: 3rem;
    text-align: center;
    font-size: 0.5rem;
}

.container .container-bottom .content .item .time i{
    color: #ffcd20;
    font-size: 0.8rem;
}
.container .container-bottom .submit{
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 1rem;
}

.container .container-bottom .submit button{
    width: 10rem;
    height: 100%;
    border: 0;
    padding: 0;
    background: rgba(0,0,0,0);
    margin-left: 3rem;
}

.container .container-bottom .submit button img{
	width: 100%;
	height: 100%;
}

/*弹窗*/
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
}
.mask .tip{
    width: 15rem;
    height: 16rem;
    position: absolute;
    background: url(../../img/payment/pop-back.png);
    background-size: 100% 100%;
    left: 0rem;
    top: 50%;
    margin-top: -8rem;
}

.mask .tip .tip-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.mask .tip .tip-content .close{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
}

.mask .tip .tip-content .close img{
    width: 100%;
    height: 100%;
}

.mask .tip .tip-content .receive{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    bottom: 3rem;
    right: 3.5rem;
}
.mask .tip .tip-content .receive img{
    width: 100%;
    height: 100%;
}










